{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<!-- Compiled and minified CSS -->


<!-- Compiled and minified JavaScript -->
{% endblock stylesheets %}

{% block content %}



<!-- ***************** User Content **************** -->
	<div class="dashboard-user-content payout-panel">
		<div class="next-payout-box clearfix">
			<div class="title font-fix">Contract Creation</div>
			<div class="payout-date">Create a Middleman Smart Contract</div>
			<img src="/static/assets/images/coins.png" alt="" class="coins">
		</div> <!-- /.next-payout-box -->
	</div>
	<!-- ***************** User Content **************** -->
	<div class="dashboard-user-content investment-panel">

		<div class="investment-list-item-wrapper">
			<div class="item-filter-header clearfix">
				<h6 class="title">Contract Creation</h6>
				<ul class="right-button-group">
					<li>
						<select class="theme-select-dropdown" name="Status">
							<option value="AL">BTC</option>
						</select>
					</li>
					<li><button type="button" class="new-invest-button" data-toggle="modal" data-target="#new-investment-modal">+ Create a new Investment</button></li>
				</ul> <!-- /.right-button-group -->
			</div> <!-- /.item-filter-header -->

			<div class="table-responsive investment-table-sheet">
			</div> <!-- /.investment-table-sheet -->
		</div> <!-- /.investment-list-item-wrapper -->
	</div> 
<!-- /.dashboard-user-content --> <!-- ***** End User Content **** -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
