{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="dashboard-user-content wallet-panel">
		<div class="row">
			<div class="col-xl-5">
				<div class="bg-box wallet-balance">
					<div class="title">Your Wallet Accounts</div>
						<div class="balance-sheet-wrapper">
						<ul>
							<li class="bitcoin-method clearfix">
								<a class="clearfix" href="#">
									<span class="name font-fix"><img src="/static/assets/images/bitcoin2.png" alt=""> Bitcoin</span>
									<span class="balance-inquery">
										<span class="currency-title">0.0000 BTC</span>
										<span class="total-currency">$0.00</span>
									</span>
								</a>
							</li>
						<div class="total-balance clearfix">
							<div class="balance-title">Total Balance ≈</div>
							<div class="balance-figure">$0.00</div>
						</div>
					</div> <!-- /.balance-sheet-wrapper -->
					<ul class="button-group clearfix">
						<li><button class="deposit-button" data-toggle="modal" data-target="#deposit-modal">Deposit</button></li>
						<li><button class="withdraw-button theme-button" data-toggle="modal" data-target="#withdraw-modal"><span></span>Withdraw</button></li>
					</ul>
				</div> <!-- /.bg-box -->

				<div class="bg-box cryptocurrency-prices">
					<div class="clearfix">
						<div class="title tooltip-holder">
							Cryptocurrency Prices
							<button type="button" class="help-button" data-toggle="tooltip" data-placement="top" title="" data-original-title="The amount you want to invest, you can always add funds to your investment at any time."><img src="/static/assets/images/info.png" alt=""></button>
						</div>
						<div class="live-status font-fix">live</div>
					</div>
						<ul class="currnecy-prices-list">
							<li class="clearfix">
								<div class="left-content">
									<img src="/static/assets/images/bitcoin2.png" alt="">
									<div class="name">
										<span class="text">BTC</span>
										<span class="value font-fix">Bitcoin</span>
									</div>
								</div>
								<div class="right-content">
									<span class="text">Price</span>
									<span class="value font-fix">$6,370,62 <span class="current-rate down">0.30% <img src="/static/assets/images/down.png" alt=""></span></span>
								</div>
							</li>
				</div> <!-- /.bg-box -->
			</div> <!-- /.col- -->

			<div class="col-xl-7">
				<ul class="wallet-history clearfix">
					<li>
						<div class="inner-warpper">
							<h6 class="inner-title">Deposits</h6>
							<strong class="figure">$4,800.00</strong>
						</div> <!-- /.inner-warpper -->
					</li>
					<li>
						<div class="inner-warpper">
							<h6 class="inner-title">Withdrawals</h6>
							<strong class="figure">$0.00</strong>
						</div> <!-- /.inner-warpper -->
					</li>
					<li>
						<div class="inner-warpper">
							<h6 class="inner-title">Pending withdrawal</h6>
							<strong class="figure">$0.00</strong>
						</div> <!-- /.inner-warpper -->
					</li>
				</ul> <!-- /.wallet-history -->

				<div class="transactions-history bg-box">
					<div class="title tooltip-holder">
						Pending Transactions
						<button type="button" class="help-button" data-toggle="tooltip" data-placement="top" title="" data-original-title="The amount you want to invest, you can always add funds to your investment at any time."><img src="/static/assets/images/info.png" alt=""></button>
					</div>

					<div class="table-responsive transactions-list">
						<table class="table">
							<tbody>
									<tr role="row" class="single-list">
											<td class="time font-fix">
										<div class="month">Aug</div>
										<div class="date">02</div>
										</td>
										<td>
											<div class="heading font-fix">Withdraw to Bitcoin</div>
												<div class="value">1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX</div>
										</td>
										<td><button class="cancel-transactions">Cancel</button></td>
										<td>
											<div class="heading font-fix">-1.0000 BTC</div>
												<div class="value">-$6509.30</div>
										</td>
									</tr>
							</tbody>
						</table>
					</div> <!-- /.table-data -->
				</div> <!-- /.transactions-history -->
				<div class="transactions-history completed-transactions-history bg-box">
					<div class="title tooltip-holder">
						Completed Transactions
						<button type="button" class="help-button" data-toggle="tooltip" data-placement="top" title="" data-original-title="The amount you want to invest, you can always add funds to your investment at any time."><img src="/static/assets/images/info.png" alt=""></button>
					</div>

					<div class="table-responsive transactions-list">
						<table class="table">
							<tbody>
									<tr role="row" class="single-list">
											<td class="time font-fix">
										<div class="month">jul</div>
										<div class="date">28</div>
										</td>
										<td>
											<div class="heading font-fix">Withdraw to Bitcoin</div>
												<div class="value">1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX</div>
										</td>
										<td>
											<div class="heading font-fix">-0.010441 BTC</div>
												<div class="value">-$28.10</div>
										</td>
									</tr>
									<tr role="row" class="single-list">
											<td class="time font-fix">
										<div class="month">jul</div>
										<div class="date">20</div>
										</td>
										<td>
											<div class="heading font-fix">Deposit to Account</div>
												<div class="value">Using Bitcoin</div>
										</td>
										<td>
											<div class="heading font-fix">-0.010441 BTC</div>
												<div class="value">-$28.10</div>
										</td>
									</tr>
									<tr role="row" class="single-list">
											<td class="time font-fix">
										<div class="month">aug</div>
										<div class="date">28</div>
										</td>
										<td>
											<div class="heading font-fix">Investment Deposit</div>
												<div class="value">Deposit to [Name of Investment]</div>
										</td>
										<td>
											<div class="heading font-fix">-0.010441 BTC</div>
												<div class="value">-$28.10</div>
										</td>
									</tr>
							</tbody>
						</table>
					</div> <!-- /.table-data -->
				</div> <!-- /.transactions-history -->
			</div>
		</div> <!-- /.row -->
		
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
