
    <script src="/static/assets/js/jquery.2.2.3.min.js"></script>
    <script src="/static/assets/js/popper.js/popper.min.js"></script>
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/pcoded.min.js"></script>
    <script src="/static/assets/js/toast.js"></script>
    <script src="/static/assets/js/country-select-js-master/build/js/countrySelect.min.js"></script>
    <script src="/static/assets/js/intl-tel/build/js/intlTelInput.min.js"></script>
    <script src="/static/assets/js/select/jquery.selectric.min.js"></script>
    <script src="/static/assets/js/ion.rangeSlider/ion.rangeSlider.js"></script> 
    <script src="/static/assets/js/dashboard.js"></script>